@import 'o-techdocs/main';

.o-techdocs-layout {
	padding-top: 20px;
}

body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin: 20px 0;
}

#graph__container > div {
	margin-bottom: 20px;
}
