@import 'o-techdocs/main';

.o-techdocs-layout {
	padding-top: 20px;
}

body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin: 20px 0;
}

.now {
	color: #37df24;
}

.timeshifted {
	color: #999999;
}

.fastly-2xx,
.fastly-hit {
	color: green;
}

.fastly-5xx,
.fastly-miss {
	color: red;
}

.fastly-3xx {
	color: blue;
}

.fastly-4xx {
	color: purple;
}

.expired-flags {
	font-family: arial,helvetica, sans-serif;
}

.expired-flags ul {
	list-style: none;
	padding: 0;
}

.expired-flags li {
	padding: 5px;
}

.expired-flags li span {
	box-sizing: border-box;
	display: block;
}

.expired-flags li small {
	display: block;
	font-size: 0.8em;
}

.expired-flags .expiring span {
	padding: 8px;
	background: #dddd00;
}

.expired-flags .expiring-5 span {
	background: #ddaa00;
}

.expired-flags .expiring-4 span {
	background: #dd8800;
}

.expired-flags .expiring-3 span {
	background: #ee6600;
	color: #ffffff;
}

.expired-flags .expiring-2 span {
	background: #ff3300;
	color: #ffffff;
}

.expired-flags .expiring-1 span {
	background: #ff0000;
	color: #ffffff;
	font-weight: bold;
}

.expired-flags .expired span {
	border: 3px dotted #ff0000;
	padding: 5px;
}

.expired-flags b {
	float: right;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border: 2px solid;
	background: white;
}

.expired-flags .currently-on {
	color: #00cc00;
}

.expired-flags .currently-off {
	color: #cc0000;
}
