@import 'o-techdocs/main';

.o-techdocs-layout {
	padding-top: 20px;
}

body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin: 20px 0;
}

#graph__container > div {
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.addiction__table tr:nth-child(6) { /* day 5 */
	background-color: #dddddd;
}

.addiction__table td,
.addiction__table th {
	text-align: left;
	padding: 10px;
}

.warning {
	background-color: #ffff99;
	padding: 5px;
	text-align: center;
}

.o-techdocs-nav {
	margin-bottom: 10px;
}

.o-techdocs-sidebar {
	margin-bottom: 20px;
}

.ab__signficance td,
.ab__signficance th,
.ab__results td,
.ab__results th {
	padding: 12px 1px;
	text-align: center;
}

table {
	width: 100%;
}

.ab__significance-no {
	background-color: red;
	color: white;
	text-align: center;
}

.ab__significance-yes {
	background-color: green;
	color: white;
	text-align: center;
}

.ab__confidence {
	text-align: center;
}
