<p>
	Addiction is the daily or weekly frequency we've seen a user within
	a period of time. 
</p>
<p>
	For example, if a user returns once a day for seven days, we can conclude
	they are addicted to Next - a frequency of '7' within a week long period.
	If another user visited Next on, say, Monday and Wednesday, the would have
	a frequency of 2 (of seven).
</p>
<p>
	Weekly usage is the same. Over a calendar month, a user returning once a
	week, every week will have returned four weeks out of four.
</p>
