
<p>
    The Next team are powered by biscuits. 
</p>

You can feed us a biscuit with curl.

<pre>
curl -X POST http://ft-next-bacon.herokuapp.com.global.prod.fastly.net/px.gif/feed?food_type=biscuit
</pre>


