<div id="chart_container" class="opt">
	<section id="opted-in" class="opt__section">
		<h2 class="opt__heading">in</h2>
	    <p id="opted-in-p" class="opt__copy"></p>
	</section>
	<section id="opted-out" class="opt__section">
		<h2 class="opt__heading">out</h2>
	    <p id="opted-out-p" class="opt__copy"></p>
	</section>
</div>
