
<div class="controls__container">

    <select class="form-control" data-filter-pagetype>
        <option value="__clear__">Page type</option>
        <option value="frontpage">Frontpage</option>
        <option value="article">Article</option>
        <option value="stream">Stream</option>
        <option value="search">Search</option>
        <option value="my">My</option>
        <option value="group">Group</option>
    </select>

    <select class="form-control" data-filter-staff>
        <option value="__clear__">Staff</option>
        <option value="false">Excluded</option>
        <option value="true">Included</option>
    </select>

    <select class="form-control" data-filter-timeframe>
        <option value="__clear__">Timeframe</option>
        <option value="today">Today</a></li>
        <option value="yesterday">Yesterday</a></li>
        <option value="this_7_days">This week</a></li>
        <option value="this_28_days">This month</a></li>
    </select>

    <select class="form-control" data-filter-interval>
        <option value="__clear__">Interval</option>
        <option value="hourly">Hourly</a></li>
        <option value="daily">Daily</a></li>
    </select>

    </div>

</div>
