<footer class="footer">
	<div class="container-fluid">
		<div class="pull-left small">
			<span class="copyright"><strong>© The Financial Times Ltd </strong></span> &nbsp;
			<span><acronym title="Financial Times">FT</acronym> and 'Financial Times' are trademarks of The Financial Times Ltd.</span>
		</div>

		<div class="pull-right">
			<a class="btn btn-info btn-xs" href="http://asknext.ft.com" target="_blank">Ask Next FT</a>
			<a class="btn btn-info btn-xs" href="https://chrome.google.com/webstore/detail/mollydobbin-tracking-tool/cmhfmieofijgphlefokpckljhgcmaneb" target="_blank">Mollydobbin for Chrome</a>
		</div>
	</div>
</footer>
