<div class="branding">
    next.ft.com performance dashboard 
</div>

<div class="note">
    Be advised this is an experimental series of dashboards for next.ft.com, not an audited set of statistics.
</div>

<div class="controls__container">
    
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Charts <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&title=Unique+users+on+next">Unique users</a></li>
            <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&group_by=page.location.type&title=Unique+users+by+page+type">Usage by page type</a></li>
            <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&title=Country&group_by=user.country">Users by country</a>
            <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&group_by=user.browser.family&title=Web+browsers">Usage by web browser</a>
            <li class="divider"></li>
            <li><a href="/graph?event_collection=cta&metric=count&domPathContains=article-card&title=Interactions+with+article+cards">Article cards</a></li>
            <li><a href="/graph?event_collection=cta&metric=count&target_property=user.erights&domPathEquals=o-header%20|%20menu-button&title=Interactions+with+the+navigation+menu">Navigation menu</a></li>
            <li><a href="/graph?event_collection=cta&metric=count_unique&target_property=user.erights&domPathContains=save-for-later&title=Unique+users+using+'save+for+later'">Save for later</a></li>
            <li><a href="/graph?event_collection=cta&metric=count&target_property=user.erights&domPathEquals=o-header%20|%20search-button&title=Interactions+with+the+search+button">Search</a></li>
            <li class="divider"></li>
            <li><a href="/addiction?event_collection=dwell&metric=count_unique&target_property=time.day&timeframe=last_week&interval=weekly&group_by=user.erights&title=Next+addiction">Addiction</a></li>
        </ul>
    </div>

</div>

