<div class="branding">
    next.ft.com performance dashboard 
</div>

<div class="note">
    Be advised this is an experimental series of dashboards for next.ft.com, not an audited set of statistics.
</div>

<div class="controls__container">
    
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Charts <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="graph-select">
            {{#each graphs}}
            {{#each .}}
            <li><a href="/{{formatUrl .}}">{{@key}}</a></li>
            {{/each}}
            {{#unless @last}}<li class="divider"></li>{{/unless}}
            {{/each}}
        </ul>
    </div>

</div>

