


Event collections
<p>
     - dwell
     - cta
</p>

<h2>Metrics</h2>
<p>


 target_property=user.erights

</p>

<h2>Filters</h2>

    - staff
    - page type
    - TODO - article.id (type article & location.id == abc)
    - domPathEquals
    - domPathContains
    
<h2>Group by</h2>

    - browser
    - os

<h2>API</h2>

    - keen proxy
    - formats = json, html
