
<div class="help">
  <section class="help__container">
    
    <h2>Guide</h2>
    
    <p>
        Confused? Need a question answered? Thought of something to track that we don't yet show on the dashboards?
        Then get in touch with <a href="mailto:next.team@ft.com">next.team@ft.com</a>.
    </p>
    
    <h3>Event collections</h2>
    <p>
        Events are things that happen inside the Next system that we want to track. 
    </p>
    <p>
        We currently track two types of events :-
    </p>
    <ul>
        <li>dwell - Indicates a user has stayed on a page for at least 5 seconds.</li>
        <li>cta (call-to-action) - Indicates a user has clicked on something on the Next user interface.</li>
    </ul>
    <p>
        Viewing the events is as simple as using the <code>event_collection</code> parameter,
    </p>
    <pre>...com/graph?<b>event_collection=dwell</b></pre>

    <h3>Metrics</h2>
    <p>
        Metrics are ways to count the next events.
    </p>
    <p>
     Typically we want to find out how many times something has 
        happened, which you can do so with the <code>metric</code> parameter, 
    </p> 

    <pre>...com/graph?<b>metric=count</b></pre>

    <p>
        Often it's more useful to count the number of times something has happened per user, which 
        you can do as follows,
    </p>

    <pre>...com/graph?<b>metric=count_unique</b>&<b>target_property=user.erights</b></pre>
   
    <p>
        There's plently of <a href="https://keen.io/docs/data-analysis/metrics/">other metrics</a> documented in Keen.io
        although most of them pertain to specific types of data.
    </p>


    <h3>Time</h2>
    <p>
    
    Queries can be run over different time periods.

    See the Keen.io <a href="https://keen.io/docs/data-analysis/timeframe/">timeframe</a>
    and <a href="https://keen.io/docs/data-analysis/interval/">interval</a> guides for more information.

    </p>
    
    <ul>
        <li>timeframe - A timeframe is the period of time over which you want to run an analysis.
        <li>interval - In a timeseries, this is the duration of each timeframe - Eg, daily.
    </ul>

    <p>
    For example, yesterday's data in twenty-four hourly slices,
    </p>
    
    <pre>...com/graph?<b>timeframe=yesterday</b>&<b>interval=hourly</b></pre>
    
    <h3>Filters</h2>

    <p>
        Filters allow us to cut the results different ways. You can supply more than one filter.
    </p>
    
    <ul>
        <li>isStaff - true|false - Filters out FT staff members from the results.
        <li>pageType - stream|article|... - Filters the data to only that of a particular type of page.
        <li>uuid - Filters data to an individual CAPI UUID (aka. article)
        <li>eRights - Filters data to an individual eRights ID (aka. registered user)
        <li>flags - Filters data to a flag. Eg. useful to counting the number of users or behaviour around a flag.
        <li>domPathEquals - (cta only) - Filters data to match the full DOM path of a CTA action.
        <li>domPathContains - (cta only) - Filters data to match a sub-string of a DOM path. 
        <li>inTheLast - hour|day|week|... - Filters data to impressions submitted in the timeframe, for queries incompatible with the timeframe parameter.
    </ul>

    <p>
        Filters can be combined like so,
    </p>

    <pre>...com/graph?<b>isStaff=false</b>&<b>uuid=90a6a11a-ef6c-11e1-9580-00144feabdc0</b></pre>
    
    <h3>Group by</h2>
    
    <p>
        Often you'll want to group the output of a query in to sets of results. 
    </p>
    
    <p>
        Adding a <code>group_by</code> parameter allows you to split the results in this way, Eg. We may want page views <code>grouped by</code>
        common browser family (Chrome, Firefox etc.)
    </p>
    
    <pre>...com/graph?<b>group_by=user.browser.family</b></pre>

    <h3>Multiple variables</h3>

    <p>You can compare multiple variables either as area graphs over time or as histograms over a common numerical variable.</p>

    <p>To compare two or more timescale variables, just add another query's parameters to the URL:</p>

    <pre>...com/graph?metric=count...<b>&metric=count_unique...</b></pre>

    <p>There must be multiple <code>metric</code> parameters, even if they are all the same. Each parameter that applies to a query must be included either once in total or once per query. If included once, that value is used for every query. Filters apply to every query.</p>

    <h3>Histograms</h3>

    <p>To draw a histogram of impressions over a numerical property, perform a <code>group_by</code> query with the parameter <code>single=true</code>. This counts all impressions since the beginning of time, graphing them by the <code>group_by</code> parameter.</p>

    <pre>...com/graph?metric=count&target_property=user.erights&<b>single=true</b>&<b>group_by=meta.timings.domInteractive</b></pre>

    <h4>Window</h4>

    <p>The width of the moving sum window. Defaults to <code>4</code>. Higher values make smoother graphs but discard more data.</p>

    <pre>...com/graph?...<b>window=20</b></pre>

    <h4>logX</h4>

    <p>If <code>true</code>, plots the data on a logarithmic X axis. Useful for histograms with lots of detail at the start but a very long tail, e.g. response times.</p>

    <pre>...com/graph?...<b>logX=true</b></pre>

    <h3>Titles</h3>

    <p>
        For the purpose of displaying the graphs on a dashboard you can add a title to it like so, 
    </p>

    <pre>...com/graph?<b>title=Unique+users+on+next</b></pre>

    <h3>API</h3>

    <p>
        All data is available in time-series graph form for dashboards,
    </p>
  
    <pre>http://ft-next-beacon-dashboard.herokuapp.com/<b>graph</b>?...</pre>
    
    <p>
        The graphs are available as JSON using the same parameters as described above, 
    </p>

    <pre>http://ft-next-beacon-dashboard.herokuapp.com/<b>api</b>?...</pre>
  
    <p>
        Or the lastest 100 or so events as a stream,
    </p>

    <pre>http://ft-next-beacon-dashboard.herokuapp.com/<b>api/stream</b>?...</pre>

    <h3>Disclaimer</h3>

    <p>
        These dashboards are designed for short-term product insight. They are not a replacement for auditted statistics for business/external reporting.
    </p>

  </section>
</div>
