
<p class="purpose">
    The navigation menu helps people quickly find streams of information they might be interested in.
</p>

<h2 class="subtitle-chart">Daily users using the navigation menu button</h2>

<div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
</div>

<h2 class="subtitle-chart">List of most visited sections from the navigation menu</h2>
<ul class="menu-items__list">
</ul>

<h2 class="subtitle-chart">Retention</h2>
<ol>
    <li>All users.
    <li>% of users who have used the navigation menu to find a section once (last 28 days). 
    <li>% of users who use the navigation menu weekly (last 28 days).
</ol>

<section class="stats__container">
    <h2 class="subtitle">Qualitative research</h2>
    <ul>
        <li>Link to the navigation card sort</li>
        <li>...</li>
    </ul> 
</section>

