
<h3>Daily unique people on Next</h3>

<div id="uniques__container">
    <ul id="uniques">
    </ul>
</div>

<h3>Misc queries as JSON</h3>

<ul>
    <li><a href="/api/dwell/views?interval=daily&timeframe=last_7_days&excludeStaff=false&group_by=user.erights">Page views</a></li>
    <li><a href="/api/dwell/uniques?interval=daily&timeframe=last_7_days&page_type=frontpage&excludeStaff=false&group_by=user.erights">Unique-user page views</a></li>
    <li>
        Uniques per content type:-
        <ul>            
            <li><a href="/api/dwell/uniques?interval=daily&timeframe=this_week&page_type=frontpage&excludeStaff=false&group_by=user.erights">Frontpage</a>
            <li><a href="/api/dwell/uniques?interval=daily&timeframe=this_week&page_type=article&excludeStaff=false&group_by=user.erights">Article</a>
            <li><a href="/api/dwell/uniques?interval=daily&timeframe=this_week&page_type=stream&excludeStaff=false&group_by=user.erights">Streams</a>
        </ul>
    </li>
    <li><a href="/api/dwell/uniques?interval=daily&timeframe=last_7_days&page_type=frontpage&excludeStaff=false&group_by=user.country">Page views by country</a></li>
    <li><a href="/api/dwell/uniques?interval=daily&timeframe=last_7_days&page_type=frontpage&excludeStaff=false&group_by=user.browser.family">Page views by browser family</a></li>
</ul>
