<!DOCTYPE html>
<html class="no-js o-hoverable-on" data-next-app="{{__name}}">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}"/>
		<title>Beacon - next.ft.com performance dashboard</title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
		<link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-fonts@^1.6.7,o-ft-icons@^2.3.6,o-table@^1.7.2,o-grid@^3.1.6" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
		{{>next-js-setup/templates/ctm}}
	</head>
	<body class"o-techdocs">
		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__inner">
					<div class="o-header__primary">
						<div class="o-header__primary__left">
							<a class="o-header__logo o-header__logo--ft" href="/">
								<abbr title="Financial Times">FT</abbr>
								<h1 class="o-header__title">Beacon - next.ft.com performance dashboard</h1>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="warning">Be advised this is an experimental series of dashboards for next.ft.com, not an audited set of statistics.</div>
		<div class="o-techdocs-layout">
			<div class="o-techdocs-sidebar">
				<nav class="o-hierarchical-nav" data-o-component="o-hierarchical-nav" data-o-hierarchical-nav-orientiation="vertical">
					<ul class="o-techdocs-nav" data-o-hierarchical-nav-level="1">
						<li data-nav-name="progress">
							<a href="/progress/2015-06-16">Progress report</a>
						</li>
						<li data-nav-name="uniques" class="o-hierarchical-nav__parent">
							<a>Uniques <i></i></a>
							<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
								<li><a href="/graph/uniques">Overview</a></li>
								<li><a href="/graph/uniques/timeline">Trend</a></li>
								<li><a href="/graph/uniques/by-page">By page type</a></li>
								<li><a href="/graph/uniques/by-geo">Geographically</a></li>
								<li><a href="/graph/uniques/by-device">By device</a></li>
							</ul>
						</li>
						<li data-nav-name="addiction" class="o-hierarchical-nav__parent">
							<a>Addiction <i></i></a>
							<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
								<li><a href="/graph/addiction">Daily</a></li>
								<li><a href="/graph/addiction-weekly">Weekly</a></li>
							</ul>
						</li>
						<li data-nav-name="ab" class="o-hierarchical-nav__parent">
							<a>AB testing <i></i></a>
							<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
								<li><a href="/graph/ab/aa">AA</a></li>
								<li><a href="/graph/ab/homepage-promo">Homepage promo</a></li>
							</ul>
						</li>
						<li data-nav-name="opt-in">
							<a href="/graph/opt-in">Opt-ins</a>
						</li>
						<li data-nav-name="active-usage" class="o-hierarchical-nav__parent">
							<a>Active usage <i></i></a>
							<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
								<li><a href="/graph/active-usage?feature=globalNavigation">globalNavigation</a></li>
								<li><a href="/graph/active-usage?feature=homePageLoadMore">homePageLoadMore</a></li>
								<li><a href="/graph/active-usage?feature=marketDataAPI">marketDataAPI</a></li>
								<li><a href="/graph/active-usage?feature=articleComments">articleComments</a></li>
								<li><a href="/graph/active-usage?feature=articleRelatedContent">articleRelatedContent</a></li>
								<li><a href="/graph/active-usage?feature=articleTOC">articleTOC</a></li>
								<li><a href="/graph/active-usage?feature=dynamicTertiaryNav">dynamicTertiaryNav</a></li>
								<li><a href="/graph/active-usage?feature=follow">follow</a></li>
								<li><a href="/graph/active-usage?feature=homePageMyFTPanel">homePageMyFTPanel</a></li>
								<li><a href="/graph/active-usage?feature=homePageMyPageFeed">homePageMyPageFeed</a></li>
								<li><a href="/graph/active-usage?feature=myPageTopicSuggestions">myPageTopicSuggestions</a></li>
								<li><a href="/graph/active-usage?feature=pagination">pagination</a></li>
								<li><a href="/graph/active-usage?feature=saveForLater">saveForLater</a></li>
								<li><a href="/graph/active-usage?feature=search">search</a></li>
								<li><a href="/graph/active-usage?feature=myFTReadingListOnArticle">myFTReadingListOnArticle</a></li>
							</ul>
						</li>
						<li data-nav-name="flow" class="o-hierarchical-nav__parent">
							<a>Flow <i></i></a>
							<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
								<li><a href="/graph/flow?dashboard=Galleries">Galleries</a></li>
								<li><a href="/graph/flow?dashboard=AllMyFTNotifications">MyFT Aggregate</a></li>
								<li><a href="/graph/flow?dashboard=MyFT">MyFT Page</a></li>
								<li><a href="/graph/flow?dashboard=MyPageFeed">MyPageFeed</a></li>
								<li><a href="/graph/flow?dashboard=MyFTEmail">MyFT Emails</a></li>
								<li><a href="/graph/flow?dashboard=MyFTRSS">MyFT RSS Feeds</a></li>
							</ul>
						</li>
						<li data-nav-name="labs" class="o-hierarchical-nav__parent">
							<a>Labs <i></i></a>
							<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
								<li><a href="https://spoor-sqs-ui.herokuapp.com">Real-time stream</a></li>
								<li><a href="https://spoor-sqs-ui.herokuapp.com/map">Real-time traffic map</a></li>
							</ul>
						</li>
						<li data-nav-name="searchterms">
							<a href="/graph/searchterms">Most searched-for terms</a>
						</li>
						<li data-nav-name="navigation">
							<a href="/graph/navigation">Navigation</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="o-techdocs-main">
				<div class="o-techdocs-content">
					{{{body}}}
				</div>
			</div>
			<footer class="o-techdocs-footer">
				<div class="o-techdocs-footer__inner">
					<p style="float:left; padding-right:2em;">
						Can this dashboard be better? Ask about usage at <a href="http://asknext.ft.com">http://asknext.ft.com</a><br />
						Where does the data live? You'll need access for <a href="https://keen.io/project/5486efb559949a0a311510fa/explorer">Keen IO</a><br />
						Fancy a chat? Join the slack channel for <a href="https://financialtimes.slack.com/messages/ft-next-usage/">#ft-next-usage</a><br />
					</p>
					<p>
						Thinking of making your own dashboard? See the developers' guide to <a href="https://financial-times.github.io/next/docs/developer-guide/measuring-next/">Measuring Next</a><br />
						Want real-time data in next.ft.com? Install <a href="https://chrome.google.com/webstore/detail/mollydobbin-tracking-tool/cmhfmieofijgphlefokpckljhgcmaneb">Mollydobbin for Chrome</a><br />
						More questions? Email <a href="mailto:next.team@ft.com">next.team@ft.com</a>
					</p>
				</div>
			</footer>
		</div>
		<script>
			window.cutsTheMustard = true;
			window.keen_project = '{{keen_project}}';
			window.keen_read_key = '{{keen_read_key}}';
			window.page_name = '{{page_name}}';
		</script>
		<script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script src="//cdn.jsdelivr.net/keen.js/3.2.4/keen.min.js" type="text/javascript"></script>

		{{>next-js-setup/templates/script-loader}}
	</body>
</html
