<html>
    <head>
        <title>{{ title }} &middot; next.ft.com performance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="refresh" content="120"/>
    </head>
    <body>
        
        {{> header}}

        {{{ body }}}

        <div class="data__container">
            <section class="stats__container" id="c">
                {{#if abTest}}{{> ab}}{{/if}}
                {{#if graph}}{{> graph}}{{/if}}
                {{#if optInOut}}{{> opt-in-out}}{{/if}}
            </section>
        </div>

        {{> assets}}

    </body>
</html>
