<h1>A/B - Anonymous Propensity Message</h1>
<p>For 7 day period unless otherwise stated</p>

<div class="chart__container__metrics" id="charts">
	<div class="o-grid-row" data-metric="average-page-views-per-session">
		<h2 data-o-grid-colspan="12">Average page views per session</h2>
		<div data-o-grid-colspan="12 M6" data-viz="variant" data-viz-title="Variant"><!-- val:average --></div>
		<div data-o-grid-colspan="12 M6" data-viz="control" data-viz-title="Control" data-viz-colors="#91DCD0"><!-- val:total --></div>
	</div>

	<div class="o-grid-row" data-metric="clicks-per-visit">
		<h2 data-o-grid-colspan="12">Total clicks per visit</h2>
		<div data-o-grid-colspan="12 M6" data-viz="variant" data-viz-title="Variant"><!-- val:variant --></div>
		<div data-o-grid-colspan="12 M6" data-viz="control" data-viz-title="Control" data-viz-colors="#91DCD0"><!-- val:control --></div>
	</div>

	<div class="o-grid-row" data-metric="total-subscriptions">
		<h2 data-o-grid-colspan="12">Total subscription</h2>
		<div data-o-grid-colspan="12 M6" data-viz="variant" data-viz-title="Variant"><!-- val:variant --></div>
		<div data-o-grid-colspan="12 M6" data-viz="control" data-viz-title="Control" data-viz-colors="#91DCD0"><!-- val:control --></div>
	</div>
</div>
