<h1>A/B - Anonymous Propensity Message</h1>
<p>For 7 day period unless otherwise stated</p>
<div class="chart__container__metrics" id="charts">
	<div class="o-grid-row">
		<h2 data-o-grid-colspan="12">Average page views per session for on variant</h2>
		<div data-o-grid-colspan="12 M6" class="js-average"><!-- val:average --></div>
		<div data-o-grid-colspan="12 M6" class="js-total"><!-- val:total --></div>
	</div>
</div>




<!--
<h3>Frequency</h3>
<p>In the specified time frame, how many days on average do users visit next.ft.com.</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_average_frequency__on"></span>
	<span class="chart__container chart__container--half" id="metric_average_frequency__off"></span>
</div>


<h3>Opt in / out</h3>
<p>Opt in / out numbers for in / out variants</p>
<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="piechart__on"></span>
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="piechart__off"></span>
</div>

<h3>Opt out reason too-slow</h3>
<p>Percentage of opt outs that are 'too-slow' for in / out variants</p>
<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="optout__on"></span>
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="optout__off"></span>
</div>
-->
