<h1>A/B - Anonymous Propensity Message</h1>
<p>For 7 day period unless otherwise stated</p>

<div class="chart__container__metrics" id="charts">
	<div class="o-grid-row">
		<h2 data-o-grid-colspan="12">Average page views per session</h2>
		<div id="apv-variant-slot" data-o-grid-colspan="12 M6" data-viz-title="Variant"><!-- val:average --></div>
		<div id="apv-control-slot" data-o-grid-colspan="12 M6" data-viz-title="Control" data-viz-colors="#91DCD0"><!-- val:total --></div>
	</div>

	<div class="o-grid-row" data-metric="clicks-per-visit">
		<h2 data-o-grid-colspan="12">Average clicks per visit (engagement)</h2>
		<div id="cpv-variant-slot" data-o-grid-colspan="12 M6" data-viz-title="Variant"><!-- val:variant --></div>
		<div id="cpv-control-slot" data-o-grid-colspan="12 M6" data-viz-title="Control" data-viz-colors="#91DCD0"><!-- val:control --></div>
	</div>

	<div class="o-grid-row" data-metric="total-subscriptions">
		<h2 data-o-grid-colspan="12">Total subscription</h2>
		<div id="ts-variant-slot" data-o-grid-colspan="12 M6" data-viz-title="Variant"><!-- val:variant --></div>
		<div id="ts-control-slot" data-o-grid-colspan="12 M6" data-viz-title="Control" data-viz-colors="#91DCD0"><!-- val:control --></div>
	</div>
</div>
