<h1>A/B - Front Page Layout Prototype</h1>
<p>Since 2015-12-07</p>

<h2>Volume</h2>
<p>How many articles do users read per week? (Averaged across the weeks since the AB test began)</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_mean_volume__control"></span>
	<span class="chart__container chart__container--half" id="metric_mean_volume__variant"></span>
</div>


<p>What % of users read at least 1 article per week? (Averaged across the weeks since the AB test began)</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_atLeast1_volume__control"></span>
	<span class="chart__container chart__container--half" id="metric_atLeast1_volume__variant"></span>
</div>

<p>What % of users read at least 3 articles per week? (Averaged across the weeks since the AB test began)</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_atLeast3_volume__control"></span>
	<span class="chart__container chart__container--half" id="metric_atLeast3_volume__variant"></span>
</div>

<p>What % of users read at least 5 articles per week? (Averaged across the weeks since the AB test began)</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_atLeast5_volume__control"></span>
	<span class="chart__container chart__container--half" id="metric_atLeast5_volume__variant"></span>
</div>

<p>What % of users read at least 7 articles per week? (Averaged across the weeks since the AB test began)</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_atLeast7_volume__control"></span>
	<span class="chart__container chart__container--half" id="metric_atLeast7_volume__variant"></span>
</div>

<p>What % of users read at least 9 articles per week? (Averaged across the weeks since the AB test began)</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_atLeast9_volume__control"></span>
	<span class="chart__container chart__container--half" id="metric_atLeast9_volume__variant"></span>
</div>

<h2>Frequency</h2>
<p>In the last 7 days, how many visits on average do users make next.ft.com.</p>
<div class="chart__container__metrics">
	<span class="chart__container chart__container--half" id="metric_average_frequency__control"></span>
	<span class="chart__container chart__container--half" id="metric_average_frequency__variant"></span>
</div>
