<h1>A/B - Homepage follow promotion</h1>
<section id="graph__container">

	<h2>Hypothesis</h2>

	<p>
		Following topics on Next has a positive outcome on frequency and
		recency of visits.
	</p>
	<p>
		Placing a prominent promotion of 'follow' at the
		top of the homepage increases the number of people following topics.
	</p>
	
	<h2>Summary</h2>
	
		<p>
		Over a 4 week period 326 people users followed at least one topic
		from the front-page in the control, compared to 890 in the variant.
		</p>
		
		<p>
		Putting something at the top of the front-page does, unsurprisingly,
		increase interactions.
		</p>
		
		<p>
		Similar to a supermarket placing milk and bread at the back of the
		shop, we might say this space in general can be tactically used to
		promote features to people as they walk (or scroll) past in order to
		view the top stories.
		</p>
	</ul>

	<h3>Method</h3>

	<p>
		Users were segmented in to two groups.  Both variants contained a promotion
		of following on the front-page.  Users in the control group saw it in
		the centre of the page, underneath the top stories. Users in the
		variant group saw it placed above the top stories.
	</p>
	
	<h3>Caveats</h3>
	
	<p>
		This was the first AB test written using the framework and we found
		a few problems. For four days in the middle of the test users in the
		variant group saw the control group variant.
	</p>

	<h2>Data</h2>

	<ul>
		<li><a href="https://github.com/Financial-Times/next-beacon-dashboard/tree/master/docs/ab-archive/homePageProminentFollowAB/stats.png">Final stats</a></li>
		<li><a href="https://github.com/Financial-Times/next-beacon-dashboard/tree/master/docs/ab-archive/homePageProminentFollowAB/on.txt">Variant (on) results</a> (Keen.io)</li>
		<li><a href="https://github.com/Financial-Times/next-beacon-dashboard/tree/master/docs/ab-archive/homePageProminentFollowAB/off.txt">Control (off) results</a> (Keen.io)</li>
	</ul>

</section>
