<h1>Article Suggested Read AB Test Dashboard</h1>

<p>Shows performance from the start of the test</p>

<h3>Filters</h3>

<p>
	Referrer |
	<a href="?">All (default)</a> |
	<a href="?referrerType=search">Search</a> |
	<a href="?referrerType=social">Social</a>
</p>

<h2 id="active-filter">Active Referrer Filter:</h2>

<h3>Viewing More Than One Article</h3>
<p>What proportion of sessions viewed more than one article?</p>

<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-more-than-one__on"></span>
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-more-than-one__off"></span>
</div>

<h3>Average Number Of Articles Viewed</h3>
<p>To back up any changes in the proportion of sessions viewing more than one article,
has there also been an impact on the average number of article pages viewed?</p>

<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-average-pages__on"></span>
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-average-pages__off"></span>
</div>

<h3>Number Of Sessions</h3>
<p>To help calculate the statistical significance of the result, how many
sessions were observed in each cohort?</p>

<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-number-sessions__on"></span>
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-number-sessions__off"></span>
</div>

<h3>Number Of Conversions</h3>
<p>To help calculate the statistical significance of the result, how many
conversions (ie. number of sessions with more than one article page view)
were observed in each cohort?</p>

<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-number-conversions__on"></span>
	<span data-o-grid-colspan="one-half" class="chart__container chart__container--half" id="metric-number-conversions__off"></span>
</div>

<h2>Click Data</h2>
<p>Are there differences in click behaviour between the cohorts?</p>

<h3>Clicks by target<h3>

<div id="table-target"></div>

<h3>Clicks by component<h3>

<div id="table-component"></div>

<h3>Clicks by sub-component<h3>

<div id="table-sub-component"></div>

<h3>Clicks by domPath<h3>

<div id="table-dom-path"></div>
