<html>
    <head>
        <title>next.ft.com performance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="refresh" content="120"/>
    </head>
    <body>
       
        {{> header}}

        <section class="feature__container">
       
            <p>
                These graphs show the number of users returning to <a href="http://next.ft.com">next.ft.com</a> and it's features every day over the last week.
            </p>

            <h1 class="feature__name">{{ title }}</h1>
            <p class="explain">
                {{{ explain }}} 
                <small>
                    | <a href="/api{{{ apiLink }}}">export as JSON</a>
                </small>
            </p>

        </section>
        
        <div class="data__container">
            <section class="stats__container" id="c">
                {{#if graph}}{{> graph}}{{/if}}
            </section>
        </div>
        
        {{> help}}
        {{> assets}}

    </body>
</html>
