
<h1>What are the Anon users up to?</h1>


<p>
	Timeframe:
	<a href="./timeline">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<h3>Bounce rate</h3>
<span class="chart__container" id="bounceRate"></span>

<h3>Scrolldepth</h3>
<span class="chart__container" id="scrollDepth"></span>


<h3>Top 20 Pages Visited</h3>
<p class="loading-pageviews">Loading...</p>
<table id="pageViews">
	<tr>
		<th>url</th>
		<th>Views</th>
		<th>% of total</th>
	</tr>
</table>


