
<h1>Anonymous Visitors</h1>

<p class="o-techdocs-leadbody">When a next.ft.com user either has no ft.com membership, or simply isn't signed in, they (and their data) are considered <i>anonymous</i>. If a signed-in user signs out, their session is deleted right away, so they're considered anonymous until they sign in again.</p>

<p>
	Timeframe:
	<a href="./visitors">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<h3>How many anons are we getting?</h3>
<span class="chart__container" id="dailyTotals"></span>
<span class="chart__container" id="trend"></span>

<h3>Where are they coming from?</h3>
<span class="chart__container" id="referrers"></span>

<h3>How many are opting out?</h3>
<span class="chart__container" id="optOuts"></span>
<p><small>* This is obviously really low, but does seem to be correct</small></p>
