<h1>Article Page Views by Subscriber per day</h1>

<p class="o-techdocs-leadbody">
	How many article pages do subscribers visiting the site load each day?
	<br/>
	How has this changed over recent weeks?
	<br/>
	Based on subscribers who have loaded at least one article page in a day.
	<br/>
	<small>(would like to measure by session, but not yet available in beacon)
	<br/>
	This report can take 30 seconds to run so please be patient.
	</small>
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_2_weeks">2 weeks <small>(default)</small></a> |
	<a href="?timeframe=previous_4_weeks">4 weeks</a> |
	<a href="?timeframe=previous_8_weeks">8 weeks</a> |
	<a href="?timeframe=previous_12_weeks">12 weeks</a>
</p>

<section id="graph__container"></section>
