<h1>Article Actions - By Type</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within article pages?
	Grouped by action type.
	Excludes top navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<h2>Link to another article</h2>
<p><small>note: article links are not differentiated by their destination
(article or stream) and for this analysis have all been included in links
to another article)</small></p>
<span class="chart__container" id="article-links-trend-linechart"></span>
<span class="chart__container" id="article-links-trend-areachart"></span>
<span class="chart__container" id="article-links-trend-percent-areachart"></span>

<h2>Links to a highlighted topic</h2>
<span class="chart__container" id="topic-links-trend-linechart"></span>
<span class="chart__container" id="topic-links-trend-areachart"></span>
<span class="chart__container" id="topic-links-trend-percent-areachart"></span>

<h2>Sharing the article</h2>
<span class="chart__container" id="share-trend-linechart"></span>
<span class="chart__container" id="share-trend-areachart"></span>
<span class="chart__container" id="share-trend-percent-areachart"></span>
