<h1>Article Scroll Depth by Screen Size</h1>

<p class="o-techdocs-leadbody">
	What was the distribution of maximum depth that a reader got to in
  articles grouped by screen size.
	<br/>
	WARNING: data in development and not verified!
	<br/>
	<small>Scroll depth tracking is fired off when the 25%, 50%, 75% and 100% points
		of the article body (excludes more on's) are displayed on the users screen.
		For a short article on a big screen, all tracked points may be visible at once.
		This will bias the results for large screens towards 100%.</small>
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<h2>Scroll Depth by Screen Size</h2>
<section id="scroll-depth__table"></section>


<a href="https://next.ft.com/__styleguide/design-primitives#grid" target="_blank">Click here for more details on screen sizes</a>
