<h1>Article Actions</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within article pages?
	Excludes navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days</a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<p>Links clicked within article body</p>
<span class="chart__container" id="links-trend-linechart"></span>

<p>Promobox Actions within Articles</p>
<span class="chart__container" id="promo-box-trend-linechart"></span>

<p>Table of Contents Actions within Articles</p>
<span class="chart__container" id="toc-trend-linechart"></span>
