<h1>Article Actions - By Type</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within article pages?
	Grouped by action type.
	Excludes top navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<p>
	Search Referred with Timeframe:
	<a href="?timeframe=previous_14_days&referrerType=search">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days&referrerType=search">30 days</a> |
	<a href="?timeframe=previous_60_days&referrerType=search">60 days</a> |
	<a href="?timeframe=previous_90_days&referrerType=search">90 days</a>
</p>

<p>
	Social Network Referred with Timeframe:
	<a href="?timeframe=previous_14_days&referrerType=social">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days&referrerType=social">30 days</a> |
	<a href="?timeframe=previous_60_days&referrerType=social">60 days</a> |
	<a href="?timeframe=previous_90_days&referrerType=social">90 days</a>
</p>

<h2>Click Rate (%CTR)</h2>
<h3>Link to another article %CTR</h3>
<p><small>note: article links are not differentiated by their destination
(article or stream) and for this analysis have all been included in links
to another article)</small></p>
<span class="chart__container" id="article-links-trend-aggregate"></span>

<h2>Links to a highlighted topic %CTR</h2>
<span class="chart__container" id="topic-links-trend-aggregate"></span>

<h2>Sharing the article %CTR</h2>
<span class="chart__container" id="share-trend-aggregate"></span>

<h2>Click Mix</h2>
<h3>Link to another article</h3>
<p><small>note: article links are not differentiated by their destination
(article or stream) and for this analysis have all been included in links
to another article)</small></p>
<span class="chart__container" id="article-links-trend-percent-areachart"></span>

<h3>Links to a highlighted topic</h3>
<span class="chart__container" id="topic-links-trend-percent-areachart"></span>

<h3>Sharing the article</h3>
<span class="chart__container" id="share-trend-percent-areachart"></span>
