<h1>Articles Viewed per Session - by referring source and week</h1>

<p class="o-techdocs-leadbody">
	How many article pages do subscribers view?<br>
	How does this differ by referring source?
</p>

<p>
	All sources Referred with Timeframe:
	<a href="?timeframe=previous_2_weeks">2 weeks <small>(default)</small></a> |
	<a href="?timeframe=previous_4_weeks">4 weeks</a> |
	<a href="?timeframe=previous_8_weeks">8 weeks</a> |
	<a href="?timeframe=previous_12_weeks">12 weeks</a>
</p>

<p>
	Search Referred with Timeframe:
	<a href="?timeframe=previous_2_weeks&referrerType=search">2 weeks</a> |
	<a href="?timeframe=previous_4_weeks&referrerType=search">4 weeks</a> |
	<a href="?timeframe=previous_8_weeks&referrerType=search">8 weeks</a> |
	<a href="?timeframe=previous_12_weeks&referrerType=search">12 weeks</a>
</p>

<p>
	Social Network Referred with Timeframe:
	<a href="?timeframe=previous_2_weeks&referrerType=social">2 weeks</a> |
	<a href="?timeframe=previous_4_weeks&referrerType=social">4 weeks</a> |
	<a href="?timeframe=previous_8_weeks&referrerType=social">8 weeks</a> |
	<a href="?timeframe=previous_12_weeks&referrerType=social">12 weeks</a>
</p>

<div class="chart__container" id="session-referred-article-depth-distribution"></div>

<div class="chart__container" id="session-referred-article-depth-average"></div>
