<h1>Article Actions by component</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within article pages?
	Grouped by page component.
	Excludes navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<h2>Article Header</h2>
<span class="chart__container" id="article-header-trend-linechart"></span>
<span class="chart__container" id="article-header-trend-areachart"></span>

<h2>Related Stories</h2>
<span class="chart__container" id="related-stories-trend-linechart"></span>
<span class="chart__container" id="related-stories-trend-areachart"></span>

<h2>More On</h2>
<span class="chart__container" id="more-on-trend-linechart"></span>
<span class="chart__container" id="more-on-trend-areachart"></span>

<h2>Article Body Links</h2>
<span class="chart__container" id="links-trend-linechart"></span>

<h2>Promobox</h2>
<span class="chart__container" id="promo-box-trend-linechart"></span>
<span class="chart__container" id="promo-box-trend-areachart"></span>

<h2>Table of Contents</h2>
<span class="chart__container" id="toc-trend-linechart"></span>
