<h1>Unique Sessions Referred to Article Pages</h1>

<p class="o-techdocs-leadbody">
	How many sessions does next receive from subscribers who are referred by third
	parties directly to the article?
</p>

<p>
	Search Referred with Timeframe:
	<a href="?timeframe=previous_14_days&referrerType=search">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days&referrerType=search">30 days</a> |
	<a href="?timeframe=previous_60_days&referrerType=search">60 days</a> |
	<a href="?timeframe=previous_90_days&referrerType=search">90 days</a>
</p>

<p>
	Social Network Referred with Timeframe:
	<a href="?timeframe=previous_14_days&referrerType=social">14 days</a> |
	<a href="?timeframe=previous_30_days&referrerType=social">30 days</a> |
	<a href="?timeframe=previous_60_days&referrerType=social">60 days</a> |
	<a href="?timeframe=previous_90_days&referrerType=social">90 days</a>
</p>

<div class="chart__container" id="session-referred"></div>
