<h1>Article Views</h1>

<p class="o-techdocs-leadbody">
	How many article pages have been loaded today, yesterday,
	last week and what's the trend?
	These numbers represent the approximate number
	of article pages that have been loaded on Next FT.
</p>

<div id="today-metric" class="chart__container--third"></div>
<div id="yesterday-metric" class="chart__container--third"></div>
<div id="graph__container" class="chart__container--third"></div>

<h2>Articles trend</h2>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days</a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<span class="chart__container" id="trend-linechart"></span>

<p><small>includes articles loaded by both subscribers and non-subscribers</small></p>
