<h1>Article Actions by component</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within article pages?
	Grouped by page component.
	Excludes navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<p>
	Search Referred with Timeframe:
	<a href="?timeframe=previous_14_days&referrerType=search">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days&referrerType=search">30 days</a> |
	<a href="?timeframe=previous_60_days&referrerType=search">60 days</a> |
	<a href="?timeframe=previous_90_days&referrerType=search">90 days</a>
</p>

<h2>Click Rate (%CTR) by Component<h2>

<h3>Article Header %CTR</h3>
<span class="chart__container" id="article-header-trend-clickrate"></span>

<h3>Article Body Links %CTR</h3>
<span class="chart__container" id="links-trend-clickrate"></span>

<h3>Promobox %CTR</h3>
<span class="chart__container" id="promo-box-trend-clickrate"></span>

<h3>Read Next %CTR</h3>
<span class="chart__container" id="read-next-trend-clickrate"></span>

<h3>Related Stories %CTR</h3>
<span class="chart__container" id="related-stories-trend-clickrate"></span>

<h3>More On %CTR</h3>
<span class="chart__container" id="more-on-trend-clickrate"></span>

<h3>Table of Contents %CTR</h3>
<span class="chart__container" id="toc-trend-clickrate"></span>

<h2>Click mix within Component<h2>

<h3>Article Header</h3>
<span class="chart__container" id="article-header-trend-areachart"></span>

<h3>Promobox</h3>
<span class="chart__container" id="promo-box-trend-areachart"></span>

<h3>Read Next</h3>
<span class="chart__container" id="read-next-trend-areachart"></span>

<h3>Related Stories</h3>
<span class="chart__container" id="related-stories-trend-areachart"></span>

<h3>More On</h3>
<span class="chart__container" id="more-on-trend-areachart"></span>
