<h1>Barrier Actions</h1>

<p>
	Timeframe:
	<a href="./actions">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<p>
	Please note that, as this data is collected for anonymous users, we cannot filter out staff.
	Therefore these figures may be higher than expected
</p>

<h3>How do people interact with barriers?</h3>
<span id="barrierInteractions" class="chart__container"></span>
<span id="barrierInteractionsByElement" class="chart__container"></span>

