<html>
    <head>
        <title>Clicks</title>
        <meta http-equiv="refresh" content="120">
        <style>
            body { background-color: #ff0080; }
            big { 
                display: block;
                line-height: 100vh;
                text-align: center;
                font-size: 100px;
                text-shadow: 1px 1px black;
                color: white;
            }
        </style>
    </head>
    <body>
        <big>{{result}}</big>
    </body>
</html>
