<html>
    <head>
        <title>Clicks</title>
        <meta http-equiv="refresh" content="120">
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-grid@^2.1.5">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            body { 
                margin: 0;
                padding: 0;
            }
            h1 { 
                padding: 20px;
                font-size: 14px;
                background-color: #ccc; 
                font-family: sans-serif;
            }
            h2 {
                font-size: 14px;
                font-family: sans-serif;
                padding: 10px 20px;
            } 
            li {  }
        </style>
    </head>
    <body>

        <h1>Next live dashboard</h1>

        <div class="o-grid-row">
        <div data-o-grid-colspan="S12 M6 L3 XL3">  

            <h2>Daily article page view totals</h2>
            <ul>
                {{#each nDays}}
                <li>{{ timeframe.start }} - {{ value }}</li>
                {{/each}}
            </ul>
            
            <h2>Activity by article genre</h2>
            <ul id="genre"></ul>

            <h2>Browsers on next today</h2>
            <ul id="browsers"></ul>

        </div>
        <div data-o-grid-colspan="S12 M6 L3 XL3">

            <h2>
                Unique users today : <span id="uniques"></span>
            </h2>
            
            <h2>Article page views today</h2>
            <ul>
                {{#each today}}
                    <li>{{ timeframe.start }} - {{ value }}</li>
                {{/each}}
            </ul>
    
        </div>
        <div data-o-grid-colspan="S12 M6 L3 XL3">
        
            <h2>Origin of Next visitors</h2>
            <ul id="country"></ul>
        
        </div>
        
        <script src="/main.js"></script>
    </body>
</html>
