<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h1>Conversion Funnel, last 30 days</h1>
<div id="chart_div"></div>
<h1>PS1:</h1>
{{#each ps1}}
{{#each this}}
<ul><h1>{{@key}}</h1>
    {{#each this}}
    <li>{{@key}}: {{this}}</li>
    {{/each}}
</ul>
{{/each}}
{{/each}}

<h1>PS2:</h1>
{{#each ps2}}
{{#each this}}
<ul><h1>{{@key}}</h1>
    {{#each this}}
    <li>{{@key}}: {{this}}</li>
    {{/each}}
</ul>
{{/each}}
{{/each}}

<h1>PS3:</h2>
{{#each ps3}}
{{#each this}}
<ul><h1>{{@key}}</h1>
    {{#each this}}
    <li>{{@key}}: {{this}}</li>
    {{/each}}
</ul>
{{/each}}
{{/each}}
