<h1>Conversion Funnel, last 30 days</h1>

<p>This is a preliminary dump of conversion funnel data pulled out of the main FT warehouse (so please excuse the unformatted nature for now). It is currently filtered to represent information about all anonymous users who went from Next to the top half of the FT subscription form.</p>
<p>The total figure for those users is the number found under the 'channel: next' heading.</p>
<p>Updated daily</p>

{{#each conversionData}}
{{#each this}}
<ul><h1>{{@key}}</h1>
    {{#each this}}
    <li>{{@key}}: {{this}}</li>
    {{/each}}
</ul>
{{/each}}
{{/each}}
