<h1>Frequency &amp; Recency</h1>
<p>These charts largely revolve around the concept of myFT and "following". <b>"myFT users"</b> are next.ft.com users who have followed at least one thing.</p>
<p>Hypothesis: <i><b>myFT users</b> have higher frequency and lower recency values than the average for <b>all users</b></i>.</p>

<h2>All next.ft.com users</h2>

<div class="chart__container__metrics">
	<h3>Frequency</h3>
	<p>In the specified time frame, what's the average number of days users visit next.ft.com?</p>
	<span class="chart__container chart__container--half" id="metric_average_frequency"></span>
	<span class="chart__container chart__container--half" id="metric_average_frequency--previous"></span>
</div>

<div class="chart__container__metrics">
	<h3>Recency</h3>
	<p>In the specified time frame, what's the average number of days since a user last visited next.ft.com? (smaller is better)</p>
	<span class="chart__container chart__container--half" id="metric_average_recency"></span>
	<span class="chart__container chart__container--half" id="metric_average_recency--previous"></span>
</div>

<h2>Users of myFT</h2>

<div class="chart__container__metrics">
	<h3>Frequency (myFT users)</h3>
	<p>In the specified time frame, what's the average number of days <b>myFT users</b> visit next.ft.com? <b>Higher</b> values are better.</p>
	<span class="chart__container chart__container--half" id="metric_average_frequency--following"></span>
	<span class="chart__container chart__container--half" id="metric_average_frequency--following--previous"></span>
</div>

<div class="chart__container__metrics">
	<h3>Recency (myFT users)</h3>
	<p>In the specified time frame, what's the average number of days since <b>myFT users</b> last visited next.ft.com? <b>Smaller</b> values are better.</p>
	<span class="chart__container chart__container--half" id="metric_average_recency--following"></span>
	<span class="chart__container chart__container--half" id="metric_average_recency--following--previous"></span>
</div>
