<h1>Front Page: Volume/Frequency/Users {{#if query.layout}}(Layout: {{query.layout}}){{/if}}</h1>

<form class="performance-form">
    <div class="o-forms-group">
        <div class="performance-form__choices">
            <div>
                <p class="performance-form__label--inline">Device type:</p>
                <input type="radio" name="deviceType" value="all" class="o-forms-radio" id="device-type-all" />
                <label class="o-forms-label" for="device-type-all">All</label>
                <input type="radio" name="deviceType" value="Mobile Phone" class="o-forms-radio" id="device-type-mobile-phone" />
                <label class="o-forms-label" for="device-type-mobile-phone">Mobile Phone</label>
                <input type="radio" name="deviceType" value="Tablet" class="o-forms-radio" id="device-type-tablet" />
                <label class="o-forms-label" for="device-type-tablet">Tablet</label>
                <input type="radio" name="deviceType" value="Desktop" class="o-forms-radio" id="device-type-desktop" />
                <label class="o-forms-label" for="device-type-desktop">Desktop</label>
            </div>

            <div>
                <p class="performance-form__label--inline">Layout:</p>
                <input type="radio" name="layoutType" value="all" class="o-forms-radio" id="layout-all" />
                <label class="o-forms-label" for="layout-all">All</label>
                <input type="radio" name="layoutType" value="default" class="o-forms-radio" id="layout-default" />
                <label class="o-forms-label" for="layout-default">Default</label>
                <input type="radio" name="layoutType" value="XS" class="o-forms-radio" id="layout-xs" />
                <label class="o-forms-label" for="layout-xs">XS</label>
                <input type="radio" name="layoutType" value="S" class="o-forms-radio" id="layout-s" />
                <label class="o-forms-label" for="layout-s">S</label>
                <input type="radio" name="layoutType" value="M" class="o-forms-radio" id="layout-m" />
                <label class="o-forms-label" for="layout-m">M</label>
                <input type="radio" name="layoutType" value="L" class="o-forms-radio" id="layout-l" />
                <label class="o-forms-label" for="layout-l">L</label>
                <input type="radio" name="layoutType" value="XL" class="o-forms-radio" id="layout-xl" />
                <label class="o-forms-label" for="layout-xl">XL (inc. XXL)</label>
            </div>

            <div>
                <p class="performance-form__label--inline">Timeframe (weeks):</p>
                <input type="radio" name="timeframe" value="this_2_weeks" class="o-forms-radio" id="timeframe-2" />
                <label class="o-forms-label" for="timeframe-2">2</label>
                <input type="radio" name="timeframe" value="this_4_weeks" class="o-forms-radio" id="timeframe-4" />
                <label class="o-forms-label" for="timeframe-4">4</label>
                <input type="radio" name="timeframe" value="this_6_weeks" class="o-forms-radio" id="timeframe-6" />
                <label class="o-forms-label" for="timeframe-6">6</label>
                <input type="radio" name="timeframe" value="this_8_weeks" class="o-forms-radio" id="timeframe-8" />
                <label class="o-forms-label" for="timeframe-8">8</label>
            </div>
        </div>
        <input class="o-buttons" type="submit" value="Update Graph">
    </div>
</form>

<div id="charts" class="o-grid-row">
	<h2 data-o-grid-colspan="12">Volume</h2>
	<p data-o-grid-colspan="12">How many articles do front page users read per week?</p>
	<div class="chart__container__metrics" data-o-grid-colspan="12">
		<span class="chart__container" id="metric_meanVolume" style="height: 500"></span>
	</div>

	<p data-o-grid-colspan="12">What % of front page users read at least 7 articles per week?</p>
	<div class="chart__container__metrics" data-o-grid-colspan="12">
		<span class="chart__container" id="metric_atLeast7" style="height: 500"></span>
	</div>

	<p data-o-grid-colspan="12">What % of front page users read at least 11 articles per week?</p>
	<div class="chart__container__metrics" data-o-grid-colspan="12">
		<span class="chart__container" id="metric_atLeast11" style="height: 500"></span>
	</div>

	<h2 data-o-grid-colspan="12">Frequency</h2>
	<p data-o-grid-colspan="12">How many visits on average do front page users make to next.ft.com per week?</p>
	<div class="chart__container__metrics" data-o-grid-colspan="12">
		<span class="chart__container" id="metric_meanFrequency" style="height: 500"></span>
	</div>

	<h2 data-o-grid-colspan="12">Users</h2>
	<p data-o-grid-colspan="12">How many front page users on next.ft.com per week?</p>
	<div class="chart__container__metrics" data-o-grid-colspan="12">
		<span class="chart__container" id="metric_users" style="height: 500"></span>
	</div>
</div>
