<h1>Front Page: Components</h1>

<div id="charts" class="o-grid-container front-page">

</div>

<p>
	Timeframe:
	<a href="?timeframe=this_14_days&layout={{query.layout}}">14 days</a> |
	<a href="?timeframe=previous_14_days&layout={{query.layout}}">14 days (excluding today)</a> |
	<a href="?timeframe=this_30_days&layout={{query.layout}}">30 days</a> |
	<a href="?timeframe=previous_30_days&layout={{query.layout}}">30 days (excluding today)</a> |
	<a href="?timeframe=this_12_weeks&layout={{query.layout}}">12 weeks</a> |
	<a href="?timeframe=previous_12_weeks&layout={{query.layout}}">12 weeks (excluding this week)</a>
</p>

<p>
	Screen Size:
	<a href="?timeframe={{query.timeframe}}&layout=default">default</a> |
	<a href="?timeframe={{query.timeframe}}&layout=XS">XS</a> |
	<a href="?timeframe={{query.timeframe}}&layout=S">S</a> |
	<a href="?timeframe={{query.timeframe}}&layout=M">M</a> |
	<a href="?timeframe={{query.timeframe}}&layout=L">L</a> |
	<a href="?timeframe={{query.timeframe}}&layout=XL">XL</a> |
	<a href="?timeframe={{query.timeframe}}&layout=XXL">XXL</a> |
	<a href="?timeframe={{query.timeframe}}">all</a>
</p>
