<h1>Front Page: Performance</h1>

<form class="performance-form">
    <div class="o-forms-group">
        <div class="performance-form__choices">
            <div>
                <p class="performance-form__label--inline">Device type:</p>
                <input type="radio" name="deviceType" value="all" class="o-forms-radio" id="device-type-all" />
                <label class="o-forms-label" for="device-type-all">All</label>
                <input type="radio" name="deviceType" value="Mobile Phone" class="o-forms-radio" id="device-type-mobile-phone" />
                <label class="o-forms-label" for="device-type-mobile-phone">Mobile Phone</label>
                <input type="radio" name="deviceType" value="Tablet" class="o-forms-radio" id="device-type-tablet" />
                <label class="o-forms-label" for="device-type-tablet">Tablet</label>
                <input type="radio" name="deviceType" value="Desktop" class="o-forms-radio" id="device-type-desktop" />
                <label class="o-forms-label" for="device-type-desktop">Desktop</label>
            </div>
        </div>
        <input class="o-buttons" type="submit" value="Update Graph">
    </div>
</form>

<div id="first-paint-chart"></div>
<div id="fonts-loaded-chart"></div>
<div id="page-loaded"></div>
<div id="page-loading-events"></div>
