{{#defineBlock 'vertical-nav'}}
	<h3>Homepage</h3>
{{/defineBlock}}

<h1>Front Page: CTR {{#if query.layout}}(Layout: {{query.layout}}){{/if}}</h1>


<div id="charts" class="o-grid-container front-page">
	<div class="front-page__metrics o-grid-row">
		<a href="#front-page-ctr-chart" class="front-page__metric js-front-page-metric" data-metric="ctr" data-o-grid-colspan="12 S6 L4"></a>
		<a href="#front-page-clicks-per-user-chart" class="front-page__metric js-front-page-metric" data-metric="clicksPerUser" data-o-grid-colspan="12 S6 L4"></a>
		<a href="#front-page-users-chart" class="front-page__metric front-page__metric--small js-front-page-metric" data-metric="users" data-o-grid-colspan="6 L2"></a>
		<a href="#front-page-views-chart" class="front-page__metric front-page__metric--small js-front-page-metric" data-metric="views" data-o-grid-colspan="6 L2"></a>
	</div>

	<div class="front-page__charts o-grid-row">

		<div class="front-page__controls js-front-page-toggles is-hidden">
			<strong>Breakpoint:</strong>
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="all" data-column="1" checked>All
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="default" data-column="2">Default
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="XS" data-column="3">XS
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="S" data-column="4">S
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="M" data-column="5">M
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="L" data-column="6">L
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="XL" data-column="7">XL
			<input type="checkbox" class="toggle-line js-toggle-layout" data-layout="XXL" data-column="8">XXL
		</div>


		<div class="front-page__controls js-front-page-toggles is-hidden">
			<strong>Breakpoint:</strong>
			<input type="checkbox" class="toggle-line js-toggle-components" data-component="all" checked>All
			<input type="checkbox" class="toggle-line js-toggle-components" data-component="header" data-column="2">Header
			<input type="checkbox" class="toggle-line js-toggle-components" data-component="lead-today" data-column="3">Top Stories
		</div>

		<span id="front-page-ctr-chart" class="front-page__chart-anchor"></span>
		<div  class="front-page__chart js-front-page-chart" data-metric="ctr" data-o-grid-colspan="12"></div>

		<span id="front-page-clicks-per-user-chart" class="front-page__chart-anchor"></span>
		<div class="front-page__chart js-front-page-chart" data-metric="clicksPerUser"  data-o-grid-colspan="12"></div>

		<span id="front-page-users-chart" class="front-page__chart-anchor"></span>
		<div class="front-page__chart js-front-page-chart" data-metric="users"  data-o-grid-colspan="12"></div>

		<span id="front-page-views-chart" class="front-page__chart-anchor"></span>
		<div class="front-page__chart js-front-page-chart" data-metric="views"  data-o-grid-colspan="12"></div>
	</div>

</div>
<a href="/graph/front-page/components?timeframe={{query.timeframe}}&layout={{query.layout}}">View Component breakdown</a>

<p>
	Timeframe:
	<a href="?timeframe=this_14_days&layout={{query.layout}}">14 days</a> |
	<a href="?timeframe=previous_14_days&layout={{query.layout}}">14 days (excluding today)</a> |
	<a href="?timeframe=this_30_days&layout={{query.layout}}">30 days</a> |
	<a href="?timeframe=previous_30_days&layout={{query.layout}}">30 days (excluding today)</a> |
	<a href="?timeframe=this_12_weeks&layout={{query.layout}}">12 weeks</a> |
	<a href="?timeframe=previous_12_weeks&layout={{query.layout}}">12 weeks (excluding this week)</a>
</p>
