<html>
    <head>
        <title>next.ft.com performance</title>
        <meta http-equiv="refresh" content="120">
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-grid@^2.1.5">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            h3 { color: #666; }
            a {
                text-decoration: none;
                color: blue;
            } 
        </style>
    </head>
    <body>

        <!--

            metrics: cta, dwell, timing
            filters: 
                isStaff
                device: mobile vs tablet vs desktop
                time: timeframe=this_7_days
                interval: interval=hourly

        -->

        <h2>Features</h2>
        
        <h3><a href="/article">Article</a></h3>
        <ul>
            <li>Views
            <li>Dwell - by genre, ...
        </ul>

        <h3>Header</h3>
        <ul>
            <li>Menu items by popularity - logo, my page, search, menu

        <h3>Navigation</h3>
        <ul>
            <li>Menu - opens vs closes.
            <li>Items clicks by popularity.
            <li>Funnel
                <ul>
                    <li>% of users who have used the navigation button.
                    <li>% of users who have used it to navigation.
                    <li>% of users who use it daily / weekly.
        </ul>
    
        <h3>Search</h3>
        <ul>
            <li>Last 1000 searches
            <li>Funnel
                <ul>
                    <li>% of users who have used search 
                    <li>% of users who have clicked a search result
                    <li>% of users who search on a daily / weekly basis.
        </ul>

        <h2>Page performance</h2>
        <ul>
            <li>Average firstByte, domContentLoaded, load 
            <li>Cut by page.location.type, user.os.family, user.browser.family
        </ul>

    </body>
</html>
