
<section class="splash__container">
	<div class="alert alert-warning">
		<div class="panel-body">
			<p>Hello!</p>
			<p>These are the performance dashboards for next.ft.com.</p>
			<p>For access contact <a href="next.team@ft.com">next.team@ft.com</a>.</p>
		</div>
	</div>
	<p>
		Already got a username & password?
	</p>
	<div class="panel-body">
		<a type="button" class="btn btn-success" href="/enter">Come on in</a>
	</div>
</section>

