<html>
    <head>
        <title>next.ft.com performance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="refresh" content="120"/>
    </head>
    <body>
        
        {{> header}}
        {{> filters}}
        
        <section class="feature__container">
            <h1 class="feature__name">{{ title }}</h1>
            <p class="explain">
                {{{ explain }}} 
                <small>
                    | <a href="/api{{{ apiLink }}}">export as JSON</a>
                </small>
            </p>
        </section>
        
        <div class="data__container">
            <section class="stats__container" id="c">
                {{#if graph}}{{> graph}}{{/if}}
            </section>
        </div>

        {{> help}}
        {{> assets}}
    
    </body>
</html>
