<html>
    <head>
        <title>next.ft.com performance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="refresh" content="120"/>
    </head>
    <body>
        
        <div class="branding">
            next.ft.com performance dashboard 
        </div>

        <div class="note">
            Be advised this is an experimental series of dashboards for next.ft.com, not an audited set of statistics.
        </div>

        <div class="controls__container">
            
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Features <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&title=Unique+users+on+next">Unique users</a></li>
                    <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&group_by=page.location.type&title=Unique+users+by+page+type">Unique users by page type</a></li>
                    <li><a href="/graph?event_collection=dwell&metric=count_unique&target_property=user.erights&group_by=user.browser.family&title=Web+browsers">Web browsers</a>
                    <li class="divider"></li>
                    <li><a href="/graph?event_collection=cta&metric=count&domPathContains=article-card&title=Interactions+with+article+cards">Article cards</a></li>
                    <li><a href="/graph?event_collection=cta&metric=count&target_property=user.erights&domPathEquals=o-header%20|%20menu-button&title=Interactions+with+the+navigation+menu">Navigation menu</a></li>
                    <li><a href="/graph?event_collection=cta&metric=count_unique&target_property=user.erights&domPathContains=save-for-later&title=Unique+users+using+'save+for+later'">Save for later</a></li>
                    <li><a href="/graph?event_collection=cta&metric=count&target_property=user.erights&domPathEquals=o-header%20|%20search-button&title=Interactions+with+the+search+button">Search</a></li>
                </ul>
            </div>
            <!--
                page speed
                    <li><a href="/video">Video</a></li>
                    <li><a href="/related">Related links</a></li>
                    <li><a href="/follow">Follow</a></li>
                    <li><a href="/article">Article</a></li>
                    <li><a href="/my">My page</a></li>
                    <li><a href="/recommended">Recommended (b2b)</a></li>
                    <li><a href="/slideshows">Slideshows and galleries</a></li>
            -->

            <hr/>
            Filter by -

            <div class="btn-group" data-filter-pagetype>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     Page type <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-filter-page-type="__clear__">All</a></li>
                    <li><a href="#" data-filter-page-type="frontpage">Frontpage</a></li>
                    <li><a href="#" data-filter-page-type="article">Articles</a></li>
                    <li><a href="#" data-filter-page-type="stream">Streams</a></li>
                    <li><a href="#" data-filter-page-type="search">Search</a></li>
                </ul>
            </div>
           <!-- 
            <div class="btn-group" data-timeframe-list>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Timeframe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-timeframe="today">Today</a></li>
                    <li><a href="#" data-timeframe="yesterday">Yesterday</a></li>
                    <li><a href="#" data-timeframe="this_7_days">This week</a></li>
                    <li><a href="#" data-timeframe="this_28_days">This month</a></li>
                </ul>
            </div>
            -->
            <div class="btn-group" data-filter-staff>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     FT Staff <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-filter-staff="false">Exclude FT Staff</a></li>
                    <li><a href="#" data-filter-staff="true">Include FT Staff</a></li>
                </ul>
            </div>
            
        </div>

        <section class="feature__container">
            <h1 class="feature__name">{{ title }}</h1>
            <p class="explain">
                {{ explain }}
            </p>
        </section>
        
        <div class="data__container">
            <section class="stats__container" id="c">
                {{#if graph}}{{> graph}}{{/if}}
            </section>
        </div>
 
        <link rel="stylesheet" type="text/css" href="/rickshaw.css"/> 
        <link rel="stylesheet" type="text/css" href="/main.css"/> 
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-3.3.1/css/bootstrap.css"/>
        <script src="/vendor/jquery-2.1.3.min.js"></script>
        <script src="/vendor/bootstrap-3.3.1/js/bootstrap.js"></script>
        <script src="/main.js"></script>

    </body>
</html>
