<html>
    <head>
        <title>next.ft.com performance</title>
        <meta http-equiv="refresh" content="120">
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-grid@^2.1.5">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            
            body { 
                margin: 0;
                padding: 0;
                font-size: 18px;
            }

            .subtitle {
                font-family: sans-serif;
                font-size: 18px; 
                font-weight: normal;
                margin-top: 30px;
            }

            .feature__name {
                font-weight: normal;
                font-size: 38px;
            }

            .feature__container {
                line-height: 200px;
                background-color: #000;
                color: white;
            }
            
            .feature__container,
            .stats__container,
            .about__container {
                padding: 0 20px;
            }

            .menu__item {
            }

            .menu__list {
                font-size: 18px;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .export {
                font-size: 14px;
            }

            a { 
                text-decoration: none;
            }
        </style>
    </head>
    <body>

        <header class="feature__container">
        
            <h1 class="feature__name">Navigation menu</h1>
            
            <select class="menu__list">
                <option class="menu__item">Follow
                <option class="menu__item">Navigation menu
                <option class="menu__item">Saving for later
                <option class="menu__item">Search
            </select>

        </header>
        <section class="about__container">
            <h2 class="subtitle">Purpose</h2>
            <p>
                The navigation menu helps people find streams of information they might be intersted in.
            </p>
        </section>
        <section class="stats__container">
            <h2 class="subtitle">Quantative performance</h2>
            <ul>
                <li>Usage - daily (over last month), hourly (today).
                <li>List of most visited sections from the navigation menu.
            </ul>
            <h2 class="subtitle">Funnel</h2>
            <ol>
                <li>All users.
                <li>% of users who have used the navigation menu to find a section once (last 28 days). <a href="#" class="export">export e-rights IDs</a>
                <li>% of users who use the navigation menu weekly (last 28 days). <a href="#" class="export">export e-rights IDs</a>
            </ol>
        </section>
        <section class="stats__container">
            <h2 class="subtitle">Qualitative research</h2>
            <p>
                ...
            </p> 
        </section>

    </body>
</html>
