{{> filters}}

<section class="feature__container">
    <h1 class="feature__name">{{ title }}</h1>
    <p class="explain">
        {{{ explain }}} 
        <small>
            | <a href="/api{{{ apiLink }}}">export as JSON</a>
        </small>
    </p>
</section>