	<h1>How are people using myFT </h1>

<div class="chart__container__metrics">
			<p><b>Question</b> The first question to ask is ARE people using myFT to get to articles - and that can be answered pretty well by looking at the funnel <a href="/graph/flow?dashboard=AllMyFTNotifications">here</a></p>


			<p><b>Question</b> How are users following topics</p>
			<span class="chart__container" id="bar_follows_user"></span>
			<span class="chart__container" id="follow_clicks_per_user"></span>
			<p>Number of follow clicks (left) and users following (right) per page type</p>
			<span class="chart__container chart__container--half" id="follow_clicks_per_page"></span>
			<span class="chart__container chart__container--half" id="follow_users_per_page"></span>
		</div>

		<p><b>Question:</b>Which myFT feature is driving the most traffic to articles?</p>
		<div id="myft-referred-articles"></div>
		<div id="myft-referred-articles-pie"></div>
		<div class="chart__container__metrics">
		<p><b>Question:</b>What percentage of article views are generated directly by myFT? <em>These figures are an underestimate as there are currently problems persisting our tracking when dredirecting via the barrier</em></p>
				<span class="chart__container" id="referrals_myft_percent"></span>

		<p><b>Question:</b> Does greater engagement with following translate into more article views per user</p>
				<span class="chart__container" id="bar_articles_user"></span>

		<p><b>Question:</b>How does signing up to email influence user behaviour</p>
			<span class="chart__container" id="email_signup_percent"></span>
			<span class="chart__container" id="email_signup_articles"></span>

	</div>
