<h1>myFT News Feed</h1>

<div>
	<strong>Showing dashboard for date: </strong><time id="offset-date"></time>
</div>

<p class="o-techdocs-leadbody">
	We want to track how many people use the myFT page to access content
</p>


<aside>
	<h5>Definitions</h5>
	<ul><strong>Open Rate: </strong>Of the people engaged with follow, how many have been to the myFT news feed.</ul>
	<ul><strong>Click Through Rate: </strong>Of those who have visited the myFT news feed, how many have gone on to an article.</ul>
</aside>

<section class="section--this-week">
	<h2>This Week</h2>
	<div class="funnel"></div>
		<table class="numbers-table">
			<thead>
				<tr><th></th><th>This Week</th><th>Last Week</th><th>% change</th></tr>
			</thead>
			<tbody>
				<tr class="numbers-table--open-rate">
					<th scope="row">Open Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
				<tr class="numbers-table--click-rate">
					<th scope="row">Click Through Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
			</tbody>
		</table>
</section>



<section class="section--today">
	<h2>Today (vs yesterday)</h2>
	<div class="funnel"></div>
	<div class="numbers-table">

		<table class="numbers-table">
			<thead>
				<tr><th></th><th>Today</th><th>Yesterday</th><th>% change</th></tr>
			</thead>
			<tbody>
				<tr class="numbers-table--open-rate">
					<th scope="row">Open Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
				<tr class="numbers-table--click-rate">
					<th scope="row">Click Through Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
			</tbody>
		</table>
</section>

