<h1>myFT Daily Email</h1>

<p class="o-techdocs-leadbody">
	We want to track the open rate and the CTR of the myFT daily email over time.
</p>

<section class="section--today">
	<h2>Today</h2>
	<div class="funnel"></div>
	<div class="numbers">
		<div class="numbers--delivery-rate">
			<h4>Delivery Rate</h4>
			<div class="numbers__number">
		</div>
		<div class="numbers--open-rate">
			<h4>Open Rate</h4>
			<div class="numbers__number">
		</div>
		<div class="numbers--click-rate">
			<h4>Click Through Rate</h4>
			<div class="numbers__number">
		</div>
	</div>
</section>

<section class="section--this-week">
	<h2>This Week</h2>
	<div class="funnel"></div>
	<div>
		<div class="numbers--delivery-rate">
			<h4>Delivery Rate</h4>
			<div class="numbers__number">
		</div>
		<div class="numbers--open-rate">
			<h4>Open Rate</h4>
			<div class="numbers__number">
		</div>
		<div class="numbers--click-rate">
			<h4>Click Through Rate</h4>
			<div class="numbers__number">
		</div>
	</div>
</section>


<section class="section--last-week">
	<h2>Last Week</h2>
	<div class="funnel"></div>
	<div>
		<div class="numbers--delivery-rate">
			<h4>Delivery Rate</h4>
			<div class="numbers__number">
		</div>
		<div class="numbers--open-rate">
			<h4>Open Rate</h4>
			<div class="numbers__number">
		</div>
		<div class="numbers--click-rate">
			<h4>Click Through Rate</h4>
			<div class="numbers__number">
		</div>
	</div>
</section>
