	<h1>How are people using myFT </h1>

<div class="chart__container__metrics">
			<p><b>Question</b>The first question to ask is ARE people using myFT - and that can be answered pretty well by looking at the funnel <a href="/graph/flow?dashboard=AllMyFTNotifications">here</a></p>

		</div>

		<p><b>Question:</b>Which myFT feature is driving teh most traffic to articles?</p>
		<div id="myft-referred-articles"></div>
		<div id="myft-referred-articles-pie"></div>
		<div class="chart__container__metrics">
		<p><b>Question:</b>What percentage of article views are generated directly by myFT? <em>These figures are an underestimate as there are currently problems persisting our tracking when dredirecting via the barrier</em></p>
				<span class="chart__container chart__container--half" id="pie_articles_myft"></span>
				<span class="chart__container chart__container--half" id="pie_articles_myft--previous"></span>
			</div>

		<p><b>Question:</b>Does greater engagement with following translate into more article views per user</p>
				<span class="chart__container" id="bar_articles_user"></span>
			</div>




	<h3>Breakdown</h3>
		% of users visited myFT

		% of users used myFT panel on HP

		% of users signed up to email
	<h3>Follow buttons</h3>

		% of users clicking follow this week
		Average number of topics followed
		Where (what page) people are following
		Link to some of the "active usage" pages
	</div>
