<h1>myFT Tray</h1>

<div>
	<strong>Showing dashboard for date: </strong><time id="offset-date"></time>
</div>

<p class="o-techdocs-leadbody">
	We want to track how many people open the tray and then consume an article from it
</p>


<aside>
	<h5>Definitions</h5>
	<ul><strong>Seen the tray: </strong>A user is defined as having potentially seen the tray, if they are following at least one topic and have visited pages that are not the homepage.</ul>
	<ul><strong>Open Rate: </strong>Of those who may have seen the tray, how many went on to open them.</ul>
	<ul><strong>Click Through Rate: </strong>Of those who opened the tray, how many clicked on a link inside it.</ul>
</aside>

<section class="section--this-week">
	<h2>This Week</h2>
	<div class="funnel"></div>
		<table class="numbers-table">
			<thead>
				<tr><th></th><th>This Week</th><th>Last Week</th><th>% change</th></tr>
			</thead>
			<tbody>
				<tr class="numbers-table--open-rate">
					<th scope="row">Open Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
				<tr class="numbers-table--click-rate">
					<th scope="row">Click Through Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
			</tbody>
		</table>
</section>



<section class="section--today">
	<h2>Today (vs yesterday)</h2>
	<div class="funnel"></div>
	<div class="numbers-table">

		<table class="numbers-table">
			<thead>
				<tr><th></th><th>Today</th><th>Yesterday</th><th>% change</th></tr>
			</thead>
			<tbody>
				<tr class="numbers-table--open-rate">
					<th scope="row">Open Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
				<tr class="numbers-table--click-rate">
					<th scope="row">Click Through Rate</td>
					<td class="numbers-table__current"></td>
					<td class="numbers-table__previous"></td>
					<td class="numbers-table__change"></td>
				</tr>
			</tbody>
		</table>
</section>
