
<h1>Navigation</h1>

<p class="o-techdocs-leadbody">Next FT navigation can be loosely grouped into primary, secondary and tertiary.</p>

<p>
	Timeframe:
	<a href="./navigation">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<section id="primary">
	<h2>Primary</h2>
	<p>This global navigation appears as a horizontal menu.</p>
	<img src="https://next-geebee.ft.com/assets/next-beacon-dashboard/images/navigation/primary.png" />

	<p>Of all the users that visited Next FT, how many clicked at least one <b>primary</b> menu item?</p>
	<div class="metric__container" id="metric_primary"></div>
</section>

<section id="secondary">
	<h2>Secondary</h2>

	<h3>Secondary-hover (contextual navigation as a hover menu)</h3>
	<p>This appears as a pop-up menu when the mouse pointer hovers over a primary menu item.</p>
	<img src="https://next-geebee.ft.com/assets/next-beacon-dashboard/images/navigation/secondary-hover.png" />
	<p>Of all the users that visited Next FT, how many clicked at least one <b>secondary-hover</b> menu item?</p>
	<div class="metric__container" id="metric_secondary_hover"></div>

	<h3>Secondary-header (contextual navigation as a sub-header menu)</h3>
	<p>This appears as a "Related" menu in the heading of stream pages.</p>
	<img src="https://next-geebee.ft.com/assets/next-beacon-dashboard/images/navigation/secondary-header.png" />
	<p>Of all the users that visited Next FT, how many clicked at least one <b>secondary-header</b> menu item?</p>
	<div class="metric__container" id="metric_secondary_header"></div>
</section>

<section id="tertiary">
	<h2>Tertiary</h2>

	<h3>Tertiary-stream</h3>
	<p>The "In the news" menu in the heading of stream pages.</p>
	<img src="https://next-geebee.ft.com/assets/next-beacon-dashboard/images/navigation/tertiary-stream.png" />
	<p>Of all the users that visited Next FT, how many clicked at least one <b>tertiary-stream</b> menu item?</p>
	<div class="metric__container" id="metric_tertiary_stream"></div>

	<h3>Tertiary-article</h3>
	<p>The "Topics mentioned in this article" menu in the heading of articles.</p>
	<img src="https://next-geebee.ft.com/assets/next-beacon-dashboard/images/navigation/tertiary-article.png" />
	<p>Of all the users that visited Next FT, how many clicked at least one <b>tertiary-article</b> menu item?</p>
	<div class="metric__container" id="metric_tertiary_article"></div>
</section>

<section id="graph__container"></section>
