
<h1>Opting in and opting out</h1>

<p class="o-techdocs-leadbody">These charts show the total amount of unique users who opted in and out of Next FT.</p>

<p>
	Timeframe:
	<a href="./opt-in">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-half" class="chart__container" id="piechart"></span>
	<span data-o-grid-colspan="one-half" class="chart__container" id="piechart_24_hours"></span>
</div>

<span class="chart__container" id="linechart"></span>
<span class="chart__container" id="areachart_stacked"></span>
<span class="chart__container" id="columnchart"></span>
<span class="chart__container" id="barchart_stacked"></span>

<p><b>Total opt-out counts by reason</b></p>
<span class="chart__container o-table" id="table"></span>
<span class="chart__container" id="barchart_stacked_difficult_navigation"></span>
