<h1>Stream Actions</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within stream pages?
	Excludes navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days</a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<h2>Hot Topics</h2>
<p>Interactions with Hot Topics</p>
<span class="chart__container" id="hot-topics-trend-linechart"></span>

<h2>Article Cards</h2>
<p>Interactions with Article Cards</p>
<span class="chart__container" id="article-card-trend-linechart"></span>

<h2>Related Items</h2>
<p>Interactions with Related Items</p>
<span class="chart__container" id="related-item-trend-linechart"></span>

<h2>Photo Diary</h2>
<p>Interactions with Photo Diary</p>
<span class="chart__container" id="photo-diary-trend-linechart"></span>
