<h1>Stream</h1>

<p class="o-techdocs-leadbody">
	How many stream pages have been loaded today, yesterday,
	last week and what's the trend?
	These numbers represent the approximate number
	of stream pages that have been loaded on Next FT.
</p>

<div id="today-metric" class="chart__container chart__container--third"></div>
<div id="yesterday-metric" class="chart__container chart__container--third"></div>
<div id="graph__container" class="chart__container chart__container--third"></div>

<h2>Stream pages loaded per User per day<br/><small>Subscribers only</small></h2>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days</a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<span class="chart__container" id="trend-linechart"></span>
