<h1>Stream Actions - by type</h1>

<p class="o-techdocs-leadbody">
	How many actions were taken within stream pages?
	Actions categorised by type, rather than component.
	Excludes top navigation, footer and follow actions.
</p>

<p>
	Timeframe:
	<a href="?timeframe=previous_14_days">14 days <small>(default)</small></a> |
	<a href="?timeframe=previous_30_days">30 days</a> |
	<a href="?timeframe=previous_60_days">60 days</a> |
	<a href="?timeframe=previous_90_days">90 days</a>
</p>

<h2>Links to highlighted articles</h2>
<span class="chart__container" id="article-links-trend-linechart"></span>
<span class="chart__container" id="article-links-trend-areachart"></span>
<span class="chart__container" id="article-links-trend-percent-areachart"></span>

<h2>Links to highlighted topics</h2>
<span class="chart__container" id="topic-links-trend-linechart"></span>
<span class="chart__container" id="topic-links-trend-areachart"></span>
<span class="chart__container" id="topic-links-trend-percent-areachart"></span>
