
<h1>Geography</h1>

<p class="o-techdocs-leadbody">These charts show the total amount of unique users who visited Next FT, broken down by continent.</p>

<p>
	Timeframe:
	<a href="./by-geo">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
	— And here's a <a href="https://spoor-sqs-ui.herokuapp.com/map" target="_blank">real-time map</a>
</p>

<span class="chart__container" id="linechart"></span>
<span class="chart__container" id="columnchart"></span>
<span class="chart__container" id="columnchart_stacked"></span>

<p></p>
<span class="chart__container o-table" id="table"></span>

<section id="graph__container"></section>
