<h1>Browser usage</h1>

<p class="o-techdocs-leadbody">These charts show the total number of page views to Next FT, broken down by browser.</p>

<p>
	Timeframe:
	<a href="?timeframe=this_14_days">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<!--<p>-->
	<!--Devices:-->
	<!--<a href="?device=all">All</a> |-->
	<!--<a href="?device=mobile">Mobile</a> |-->
	<!--<a href="?device=desktop">Desktop</a>-->
<!--</p>-->

<div class="browsers"></div>
<div class="browser-wrapper"></div>

