
<h1>Device usage</h1>

<p class="o-techdocs-leadbody">These charts show the total amount of unique users who visited Next FT, broken down by device size.</p>

<p>
	Timeframe:
	<a href="./by-page">14 days</a> |
	<a href="?timeframe=this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days">90 days</a>
</p>

<section id="graph__container"></section>

<div class="chart__container__metrics o-grid-row">
	<span data-o-grid-colspan="one-third" class="chart__container" id="metric_large"></span>
	<span data-o-grid-colspan="one-third" class="chart__container" id="metric_medium"></span>
	<span data-o-grid-colspan="one-third" class="chart__container" id="metric_small"></span>
</div>

<span class="chart__container" id="linechart"></span>
<span class="chart__container" id="columnchart"></span>
<span class="chart__container" id="barchart_stacked"></span>

<img src="https://raw.githubusercontent.com/Financial-Times/o-grid/master/img/grid-system.png"/>

