<h1>Dashboard gallery</h1>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Users</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="2" href="/graph/uniques">Overview</a> These charts show counts of unique users of next.ft.com</div>
		<div><a data-o-grid-colspan="2" href="/graph/uniques/by-page">Page type</a> Total amount of unique users who visited Next FT, broken down by page type.</div>
		<div><a data-o-grid-colspan="2" href="/graph/uniques/by-geo">Geography</a> Unique users who visited Next FT, broken down by continent.</div>
		<div><a data-o-grid-colspan="2" href="/graph/uniques/by-device">Device</a> Unique users who visited Next FT, broken down by device size.</div>
		<div><a data-o-grid-colspan="2" href="/graph/uniques/by-browser">Browser</a> Unique users who visited Next FT, broken down by browser.</div>
		<div><a data-o-grid-colspan="2" href="/graph/performance">Performance</a> Browser performance of actual users</div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Addiction</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/addiction">Daily</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/addiction-weekly">Weekly</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">AB testing</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/ab/front-page-prototype">Front Page Layout Prototype</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/ab/performance">Performance</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/ab/moreon-structure">Article - More-On Structure</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/ab/aa">AA</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/ab/engaged-follow">Engaged follow</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/ab/homepage-promo" class="archived">Homepage promo - complete</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/ab/suggested-read" class="archived">Article Suggested Read - complete</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Active usage</strong>
	</div>
	<div class="o-aside-panel__body">
		{{#each @root.featureNavigationItems}}
			<div><a data-o-grid-colspan="4" href="/graph/active-usage?feature={{.}}">{{.}}</a></div>
		{{/each}}
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Flow</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/flow?dashboard=Galleries">Galleries</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/flow?dashboard=TOC">Table of Contents</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading"><i>my</i>FT</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/myft/overview"><i>my</i>FT Overview</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft/usage">Usage</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft/news-feed"><i>my</i>FT News Feed</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft/saved-articles"><i>my</i>FT Saved Articles</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft/daily-email"><i>my</i>FT Daily Emails</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft/weekly-email"><i>my</i>FT Weekly Emails</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft/tray"><i>my</i>FT Tray</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/flow?dashboard=MyFTRSS"><i>my</i>FT RSS Feeds</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/myft">Other</a></div>

	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Anons</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/anons/visitors">Visitors</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/anons/activity">Activity</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Barriers</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/barriers/views">Views</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/barriers/actions">Actions</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Real-time data</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="https://spoor-sqs-ui.herokuapp.com">Real-time stream</a></div>
		<div><a data-o-grid-colspan="4" href="https://spoor-sqs-ui.herokuapp.com/search">Real-time user searches</a></div>
		<div><a data-o-grid-colspan="4" href="https://spoor-sqs-ui.herokuapp.com/map">Real-time traffic map</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Front Page</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/front-page/visits">Visits</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/front-page/scroll-depth">Scroll depth</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/front-page/ctr#front-page-ctr-chart">CTR</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/front-page/components">CTR by components</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/front-page/performance">Performance</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/front-page/volume-frequency-users">Volume/Frequency/Users</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Articles</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/article/views">Article views</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/ctr">Article CTR%</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/per-session">Articles per session</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/views-per-session">Views per session (to be deprecated)</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/actions-by-component">Actions - by component</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/actions-by-type">Actions - by type</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/scroll-depth-by-screen-size">Scroll depth (needs fixing)</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/article/session-referred">Referred Sessions - Uniques</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Streams</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/stream/views">Stream views</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/stream/by-subscriber-per-day">By Subscriber per day</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/stream/most-popular">Top 20 Stream pages</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/stream/actions-by-component">Actions - by component</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/stream/actions-by-type">Actions - by type</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Engagement</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/engagement/articles-read">Articles read</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/engagement/referrers">Referrers</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">More</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a data-o-grid-colspan="4" href="/graph/opt-in">Opt-ins</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/searchterms">Most searched-for terms</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/navigation">Navigation</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/dead-letter-office">Dead letter office</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/meta-beacon">Meta beacon</a></div>
		<div><a data-o-grid-colspan="4" href="/graph/frequency-recency">Frequency/Recency</a></div>
	</div>
</div>

<div data-o-component="o-aside-panel" class="o-aside-panel">
	<div class="o-aside-panel__header">
		<strong class="o-aside-panel__heading">Reports</strong>
	</div>
	<div class="o-aside-panel__body">
		<div><a target="_blank" data-o-grid-colspan="8" href="https://beacon.ft.com/reports/weekly-subscriptions.html">Weekly top on-site trial registrations and subscriptions by product</a></div>
		<div><a data-o-grid-colspan="8" href="/surveycohorts">Survey Cohorts (users suitably engaged to be considered as UX survey candidates)</a></div>
		<div><a target="_blank" data-o-grid-colspan="8" href="/conversionfunnel">Monthly anonymous visits to the FT sign-up form</a></div>
</div>
